*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    
    body {
        font-family: Arial, sans-serif;
        background-image: url("./../img/wallpaperflare.com_wallpaper_12.jpg");
        background-size: cover; 
        background-repeat: no-repeat; 
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100%;
    
    }
    
    /* Estilos para el encabezado */
    header {
        width: 100%;
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        text-align: center; 
        padding:none; 
        border-radius: none;
        background-color: #33333380; 
        color: #fff; 
    
    }
    .logo{
        border-radius: 30px;
        padding: 20px;
        width: 110px;
        height: auto;
        position:static;
    
    }
    .logo{
        cursor:alias;
    }
    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 36px; 
        text-align: center;
        
    }
    h2{
        text-align: center;
        color: #fff;
        background-color: #141212a1;
        border-radius: 5px;
        padding: 5px;

    }
    
    a {
        text-decoration: none; 
        color: #fff; 
    }
    
    /* Estilos para el logo */
    .contentLogo{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
        align-items: center;
    
    }
    
    /* Estilos para la barra de navegación */
    .menu{    
        display: flex;
        height: auto;
        /* width: 100%;
        padding: 15px;
        border-radius: 20px; */
    }
    .menu ul {
        list-style-type: none; 
        height: auto;
        margin: 0px 10px;
        padding: 0; 
        display: flex; 
        justify-content: space-around; 
    }
    .menu ul li:hover{
        color: #021224fa; 
        font-weight: bold; 
        cursor: pointer;
    }
    .menu li {
        margin: 0px 10px;
        border-radius: 10px;
        background-color:rgba(0, 0, 0, 0.514); 
        padding: 10px; 
    }
    
    /* Estilos para el contenido principal */
    .container {
        max-width: 1200px; 
        margin: 0 auto; 
        padding: 20px; 
    }
    
    .container2 {
        max-width: 1000px;
        margin: 0 auto;
        border: 1px solid rgba(0, 0, 0, 0.288);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.822);
        background-color: #555657c7;
       
        
    }
    
    .bus {
        -webkit-text-stroke: 2px #3333332f;
        font-family: 'Montserrat', sans-serif;
        
        color:#fff 
         
    
        
        
    }
    
    
    select, input[type="submit"] {
        width: 100%;
        padding: 10px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 15px;
        border: 1px solid #08080865;
        border-radius: 4px;
        margin-bottom: 10px; 
        background-color:rgba(250, 249, 247, 0.582)
        
        
    }
    
    input[type="submit"] {
        background-color:darkgoldenrod;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid #08080865;
    }
    
    input[type="submit"]:hover {
        background-color: #0057b367;
        border: 1px solid #08080865;
    }

    
/* tarjetas de venta y alquiler*/
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    margin: 10px 0;
}

p {
    font-size: 16px;
    margin: 10px 0;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #e44d26;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.like-button,
.contact-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.like-button:hover,
.contact-button:hover {
    background-color: #0056b3;
}
    
    /* Estilos para el pie de página */
    footer {
        background-color: #333333e3; 
        color: #fff; 
        text-align: center; 
        padding: 10px; 
        position:static;
        border-radius: none;
        margin-top: auto;/* Esto ayuda junto al flexbox a 
        colocar el footer en la parte de abajo de la pagina */
    }
    
    .descripcion{
        color:black;
    }
    .iconFooter {
        width: 20px;
        height: 20px;
    
        }
        p{
            color:white;
            font-size: 12px;
            
        }       